{
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "semi": [1, "always"],
    "react/prop-types": 0,
    "no-case-declarations": 0,
    "no-unused-vars": 1,
  }
}
